<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-end">
      <button
        type="button"
        (click)="deleteStock(symbol)"
        id="remove{{ symbol }}"
        class="btn btn-danger"
      >
        X
      </button>
    </div>

    <div class="d-flex justify-content-center">{{ name }} ({{ symbol }})</div>
    <div class="container">
      <div>Change today: {{ changeTodayValue | plusBeforeNumber }}%</div>
      <div>Opening price: {{ openingPrice | currency: 'USD' }}</div>
    </div>
    <div class="container">
      <div>Current price: {{ currentPrice | currency: 'USD' }}</div>
      <div>High price: {{ highPrice | currency: 'USD' }}</div>
    </div>
    <div
      class="d-flex justify-content-center"
      [ngClass]="changeTodayValue >= 0 ? 'arrowUp' : 'arrowDown'"
    ></div>
    <button
      type="button"
      routerLink="/sentiment/{{ symbol }}"
      id="sentiment{{ symbol }}"
      class="btn btn-light"
    >
      Go to social sentiment details >
    </button>
  </div>
</div>
