<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-center">{{ symbol }} {{ name }}</div>
  </div>
  <div class="d-flex justify-content-around">
    <div *ngFor="let stock of stocks">
      <div>{{ stock.month | convertMonth }} {{ stock.year }}</div>
      <div [ngClass]="stock.change >= 0 ? 'arrowUp' : 'arrowDown'"></div>
      <div>{{ stock.change }}</div>
      <div>{{ stock.mspr }}</div>
    </div>
  </div>
  <button type="button" routerLink=".." class="btn btn-light">Back</button>
</div>
